/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style: none;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* STYLE */

body {
    color: white;
}

.page-header {
    background-color: #0E121B;
}

.page-content {
    background-color: #141923;
}

.page-menu {
    background-color: #000000;
}

.page-footer {
    background-color: #141923;
}