/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style: none;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* STYLE */

body {
    color: white;
}

.page-header {
    background-color: #0E121B;
}

.page-aside {
    background-color: #000000;
}

.page-footer {
    background-color: #282828;
}

/* UTILITIES */

.direction-col {
    flex-direction: column;
}

/*APP */

#app {
    height: 100vh;
    background-color: #141923;
    display: flex;
    flex-direction: column;
}

#app .app-top {
    flex-grow: 1;
    display: flex;
}

#app .app-bottom {
    height: 100px;
    flex-shrink: 0;
}

/* ASIDE */

#app .page-aside {
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    height: 100%;
}

#app .page-aside .row {
    gap: 20px;
    justify-content: flex-start;
}

#app .page-aside .profile {
    margin-top: auto;
}

#app .page-aside .logo {
    font-size: 40px;
}

/* HEADER */

#app .header-main {
    flex-grow: 1;
}

#app .page-header {
    width: 100%;
    height: 60px;
}

#app .page-header .row {
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

#app .page-header .sub-button {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

/* MAIN */

/* FOOTER */

#app .page-footer {
    height: 100%;
}

